# Protect the htaccess file
<Files ".htaccess">
  Order Allow,Deny
  Deny from all
</Files>

# Protect cli.php
<Files "cli.php">
  Order Allow,Deny
  Deny from all
</Files>

# Disable directory browsing
Options All -Indexes
